html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color: #d7dce7;
    color: #6d563e;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
}

input {
    color: #c0966b;
    padding: 10px;
    border: 1px solid rgb(160, 144, 93);
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    color: #fff;
    background: #c0966b;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}

button:hover {
    background-color: rgb(158, 114, 56);
    cursor: pointer;
}

img {
    width: 100px;
    padding-bottom: 20px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

ul li {
    background-color: rgb(238, 233, 222);
    box-shadow: 0px 1px 4px rgba(236, 143, 4, 0.5);
    padding: 15px;
    flex-grow: 1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

ul li:hover {
    background-color: rgb(233, 215, 187);
}
