html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color: #EEF0F4;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

input {
    color: #c0966b;
    padding: 10px;
    border: 1px solid rgb(66, 157, 180);
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    color: #fff;
    background: #c0966b;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}

img {
    width: 100px;
    padding-bottom: 20px;
    margin: 0 auto;
}